[submodule "src/lib/openal-soft"]
	path = src/lib/openal-soft
	url = git@github.com:kcat/openal-soft.git
[submodule "src/lib/SDL_sound"]
	path = src/lib/SDL_sound
	url = git@github.com:icculus/SDL_sound.git
[submodule "src/lib/tolk"]
	path = src/lib/tolk
	url = git@github.com:dkager/tolk.git
[submodule "lib/SDL_sound"]
	path = lib/SDL_sound
	url = git@github.com:icculus/SDL_sound.git
[submodule "lib/openal-soft"]
	path = lib/openal-soft
	url = git@github.com:kcat/openal-soft.git
[submodule "lib/tolk"]
	path = lib/tolk
	url = git@github.com:dkager/tolk.git
